.Everything {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 950px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  box-sizing: border-box;
}


.PictureNDescription {
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #acacac;
  padding-bottom: 20px;

  
}

.Picture {
  width: 50%;
  position: relative;
  padding-top: 5%;
  left: auto;
  right: 15px;
  float: right;
}

.Picture img  {
  padding-top: 5%;
  left: auto;
  right: 0;
  top: 50%;
  width: 85%;
  position: absolute;
  transition:  width 1.2s cubic-bezier(0.65,-0.19, 0.63, 1.32);
}

.Picture img:hover {
  width: 95%;
}

.Description {
  width: 40%;
  text-align: left;
  position: relative;
  left: 15px;
  right: auto;
  margin-right: 5%;
  float: left;
  padding-top: 5%;
}

.Description h3 {
  padding-bottom: 5px;
  color: #272727;
}

.Description p{
  position: relative;
  padding-bottom: 10px;
  color: #494949;
}

.Description a{
  background-color: rgb(136, 25, 170);
    border: none;
    border-radius: 4px;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.Reviews {
  padding: 20px 0;
  border-bottom: 1px solid #acacac;
  text-align: center;
}

.Review {
  display: inline-block;
  align-content: center;
}


.Quote {
  font-size: 1.5em;
  font-weight: bold;
  display: inline-block;
}
.QuoteAuthorPic {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
  vertical-align: middle;
  align-items: center;
}

.QuoteAuthorPic img{
  width:100%;
}

.QuoteAuthorPic2 {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}

.QuoteAuthorPic2 img{
  width: 100%;
}

.QuoteAuthor2 {
  display: inline-block;
  margin: .6em;
  color: #494949;
}